*{
    margin: 0;
    padding: 0;
}

/* body{
    box-sizing: border-box;
} */

.grid{
    width: 960px;
    height: auto;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.row{
    display: flex;
}

.col-1{
    width: 60px;
    margin: 0 10px;
    border: 1px solid red;
}

.col-3{
    min-width: 220px;
    margin: 0 10px;
    border: 1px solid red;
}