.header{
    display: flex !important;
    justify-content: space-between;
    align-items: center;
}

.header-left{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header-right{
    display: flex;
    justify-content: flex-end;
    align-content: center;
}

.header-right div {
    margin: 0 8px;
}

.top-title p:nth-of-type(1){
    color: #ce973e;
}