.header{
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.header-left{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header-right{
    display: flex;
    justify-content: flex-end;
    align-content: center;
}

.header-right div {
    margin: 0 8px;
}
.top-title{
    text-align: center;
    padding-bottom: 60px;
}

.top-title p:nth-of-type(1){
    color: #ce973e;
    padding-bottom: 30px;
    font-size: 2.25rem;
    font-weight: 300;
    letter-spacing: 0.4px;
}

.top-title p:nth-of-type(2){
    color: rgba(74,74,74,0.7);
    font-size: 1.125rem;
    letter-spacing: 0.2px;
    padding-bottom: 70px;
}

.top-title button{
    padding: 16px 56px;
    background-color: #6abfc3;
    border-radius: 0.2em;
    box-shadow: 0 0.05em 0.25em 0 rgba(0,0,0,0.5);
    border: none;
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 0.2px;
    color: #fff;
}
.top-title button:hover{
    opacity: 0.8;
}

.description{
    padding: 0 15px;
    text-align: center;
    padding-top: 70px;
    max-width: 600px;
    margin: 0 auto;
    padding-bottom: 100px;
}

.description p:nth-of-type(1){
    margin-bottom: 36px;
    color: #4a4a4a;
}

.text{
    padding-top: 18px;
    color: rgba(74,74,74,0.7);
    font-size: 1.125rem;
    letter-spacing: 0.2px;
    line-height: 1.88;
}

.steps {
    margin-bottom: 70px;
}

.steps div{
    display: flex;
    flex-direction: column;
}
.steps img {
    width: auto;
    height: 165px;
}

.article-title{
    text-align: center;
    margin: 50px auto 20px;
}

.steps p {
    text-align: center;
}

.language {
    background-color: #F3F3F3;
    text-align: center;
    padding: 60px 0;
}

.language .article-title{
    margin-bottom: 60px;
    font-size: 1.5rem;
    letter-spacing: 0.3px;
    color: #4a4a4a;
}

.flex-lang-section{
    box-shadow: 0 7px 16px 0 rgba(0,0,0,0.05);
    background: #fff;
    display: flex;
    flex-direction: column;
    height: 256px;
    margin: 0 30px 30px 0;
    max-width: 254px;
    padding: 23px 46px 25px;
    text-align: center;
    width: 254px;
}

.language img{
    width: 160px;
    height: 160px;
    align-self: center;
}

.flex-lang{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 950px;
    margin: 0 auto;
}

.lang-row{
    display: flex;
    justify-content: center;

}

.curriculum-button{
    padding: 16px 56px;
    background-color: #cc9543;
    border-radius: 0.2em;
    box-shadow: 0 0.05em 0.25em 0 rgba(0,0,0,0.5);
    border: none;
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 0.2px;
    color: #fff;
}

/* .top-title button{
    padding: 16px 56px;
    background-color: #6abfc3;
    border-radius: 0.2em;
    box-shadow: 0 0.05em 0.25em 0 rgba(0,0,0,0.5);
    border: none;
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 0.2px;
    color: #fff;
}
.top-title button:hover{
    opacity: 0.8;
} */


